<app-topo></app-topo>
  <div class="container justify-content-center mtop mb-lg-5" >
    <div class="col-lg-auto">
      <div class="main-content">
        <div class="row">
          <div class="col-md-auto col-lg-11">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Consulta de Pessoa</h5>
              </div>
              <div class="card-body" >
                <table class="table">
                  <thead class="mt-lg-2">
                  <tr>
                    <th scope="col">NOME</th>
                    <th scope="col">TIPO PESSOA</th>
                    <th scope="col">DOCUMENTO</th>
                    <th scope="col">DATA DE NASCIMENTO</th>
                    <th scope="col">AÇÕES</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let pessoa of pessoas">
                    <td>{{pessoa.fullName}}</td>
                    <td>{{pessoa.typePerson}}</td>
                    <td>{{pessoa.documentNumber}}</td>
                    <td>{{pessoa.birthDate}}</td>
                    <td> <img src="../../../assets/imagens/edit.png" class="imgTm" (click)="editar(pessoa.documentNumber)"></td>
                    <td><img src="../../../assets/imagens/delete.png" class="imgTm" (click)="remover(pessoa.documentNumber)"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
