<app-topo></app-topo>
<div class="container justify-content-center top">
  <div class="col-lg-auto">
    <div class="main-content">
      <div class="row">
        <div class="col-md-auto col-lg-11">
          <div class="card">
            <div class="card-header">
              <h5 class="title">Cadastro de Pessoa</h5>
            </div>
            <div class="card-body">
              <form [formGroup]="formulario">
                <div>
                  <hr class="my-4">
                  <div class="row">
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label>Pessoa</label>
                        <select class="form-control" formControlName="phoneType" [value]=""
                                (blur)="tipoTelefone()">
                          <option *ngFor="let telefone of telefones">
                            {{telefone.fullName}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label>Tipo de telefone</label>
                        <select class="form-control" formControlName="phoneType" [value]="phoneType"
                                (blur)="tipoTelefone()">
                          <option selected>Selecione</option>
                          <option>CELULAR</option>
                          <option>COMERCIAL</option>
                          <option>FIXO</option>
                        </select>
                        <app-vmessege *ngIf="formulario.get('phoneType').errors?.required"
                                      text="Tipo de telefone obrigatório"></app-vmessege>
                      </div>
                    </div>
                    <div class="col-md-2 pl-1">
                      <div class="form-group">
                        <label>DDD</label>
                        <input type="number" class="form-control" formControlName="codArea" placeholder="DDD"
                               [value]="codArea">
                        <app-vmessege *ngIf="formulario.get('codArea').errors?.required"
                                      text="DDD obrigatório"></app-vmessege>
                        <app-vmessege *ngIf="formulario.get('codArea').errors?.pattern"
                                      text="Tamanho inválido"></app-vmessege>
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label>Número</label>
                        <input type="text" class="form-control" formControlName="number" placeholder="Número"
                               [textMask]="{mask: phoneMask}" [value]="number">
                        <app-vmessege *ngIf="formulario.get('number').errors?.required"
                                      text="Número obrigatório"></app-vmessege>
                        <app-vmessege *ngIf="formulario.get('number').errors?.pattern"
                                      text="Tamanho inválido"></app-vmessege>
                      </div>
                    </div>
                    <div class="col-md-1 pl-1 mt-lg-4">
                      <img src="{{delete}}" class="imgTm mt-lg-3" (click)="retirarTelefone()">
                      <img src="{{edit}}" class="imgTm float-right mt-lg-3 mb-lg-3"
                           (click)="adicionarMaisTelefone()">
                    </div>
                  </div>
                </div>
                <div class=" d-flex justify-content-end">
                  <button class="btn btn-primary text-center" (click)="cadastrar()">
                    Cadastrar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
